//color
$purple100: #F5EEF8;
$purple200: #EBDEF0;
$purple300: #D7BDE2;
$purple400: #C39BD3;
$purple500: #9B59B6;
$purple600: #AF7AC5;
$purple700: #9B59B6;
$purple800: #884EA0;
$purple900: #76448A;

$red: #E53935;
$blue: #2979FF;

$gray100: #F0F3F4;
$gray200: #ECF0F1;
$gray300: #D0D3D4;
$gray400: #CACFD2;
$gray500: #BDC3C7;
$gray600: #A6ACAF;
$gray700: #909497;
$gray800: #797D7F;
$gray900: #626567;