@function strip-unit($number) {
  @return $number / ($number * 0 + 1);
}

@function rem($px, $base: 16px) {
  @return (strip-unit($px / $base)) * 1rem;
}

@mixin text-truncate($line-count, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-count;
  line-height: $line-height;
  max-height: calc($line-count * $line-height);

}